{
  "extends": "eslint:recommended",
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "ecmaFeatures": {
    
  },
  "plugins": [],
  "rules": {
    "quotes": [1, "single"],
    "eol-last": 0,
    "no-multi-spaces": 0,
    "no-spaced-func": 0,
    "key-spacing": 0
  }
}
